---
import {ExperienceCards} from '../components/ExperienceCards';
import { getCollection } from 'astro:content';

const d = await getCollection('experience');

interface Props {
  data: {
    name: string,
    position: string,
    url: string,
    logo: string | null,
    startDate: string,
    endDate: string | null,
    location: {
      city: string,
      country: string
    },
    description: string,
    body: string | null,
    skills: string[] | null
  }[]
}

const data2 = d.map(item => ({
  ...item.data,
  id: item.id,
  body: item.rendered?.html,
}))

---

<section class="my-16">
  <h2 class="text-4xl font-bold mb-8">
    Experience
  </h2>
  <ExperienceCards client:load data={data2}/>
</section>



















