---
import {ExperienceCards} from '../components/ExperienceCards';
import { getCollection } from 'astro:content';

const d = await getCollection('experience');
console.log('LOG:Experience.astro:6', d)

interface Props {
  data: {
    name: string,
    position: string,
    url: string,
    logo: string | null,
    startDate: string,
    endDate: string | null,
    location: {
      city: string,
      country: string
    },
    summary: string,
    summaryDetailed: string | null,
    skills: string[] | null
  }[]
}

const {data} = Astro.props;
---

<section class="my-12">
  <h2 class="text-4xl font-bold mb-8">
    Experience
  </h2>
  <ExperienceCards client:load data={data}/>
</section>

<script>
  console.log('LOG:Experience.astro:36', 123)
</script>