@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:hover {
  font-family: Inter, sans-serif;
  scrollbar-color: auto;
}

@layer utilities {
  .scrollbar {
    /* width */
    &::-webkit-scrollbar {
      width: 0.75rem;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(31, 41, 55);
      border-radius: 0.5rem;
      border:0.125rem solid white;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {

    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}