@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:hover {
  font-family: Inter, sans-serif;
  scrollbar-color: auto;
}

@layer utilities {
  .scrollbar {
    /* width */
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #acacac;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(147 197 253);
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}