---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import resumeData from '../data/resume.json';
---

<Layout>
  <article class="prose w-full flex flex-col gap-6">
    <h2>{resumeData.basics.name}</h2>
    <div class="flex gap-4">
      <h3 class="m-0 w-1/3">
        About
      </h3>
      <p class="m-0 w-2/3">{resumeData.basics.summary}</p>
    </div>
    <div class="flex gap-4">
      <h3 class="m-0 w-1/3">
        About
      </h3>
      <Card>
        <p class="m-0 w-2/3">{resumeData.basics.summary}</p>
      </Card>
    </div>
  </article>
</Layout>

