---
import ThemeController from './ThemeController.astro';
import {clsx} from 'clsx';
import {getPages} from '../utils/getPages';

const pages = getPages({
  indexPageName: 'Resume'
});

const isActive = (href: string) => {
  return Astro.url.pathname === href;
}
---

<header class="sticky top-0 w-full bg-white dark:bg-gray-800 text-gray-800 dark:text-white z-10">
  <div class="container h-auto mx-auto py-4 flex items-center justify-between gap-4">
    <!--<a -->
    <!--  class="text-xl font-mono font-bold hover:font-mono"-->
    <!--  href="/"-->
    <!--&gt;-->
    <!--  {'<mg/>'}-->
    <!--</a>-->
    <!--<nav class="mx-auto">-->
    <!--  <ul class="flex items-center justify-between gap-4">-->
    <!--    {pages.map(({name, href}) => (-->
    <!--      <li>-->
    <!--        <a-->
    <!--          class={clsx('link link-hover', isActive(href) && 'link-primary')}-->
    <!--          href={href}-->
    <!--        >-->
    <!--          {name}-->
    <!--        </a>-->
    <!--      </li>-->
    <!--    ))}-->
    <!--  </ul>-->
    <!--</nav>-->
    <!--<div class="flex">-->
    <!--  <ThemeController/>-->
    <!--</div>-->
  </div>
</header>