---
import ThemeController from './ThemeController.astro';
import {clsx} from 'clsx';

const pages = [
  { name: 'Home', href: '/' },
  { name: 'Resume', href: '/resume' },
  { name: 'Projects', href: '/projects' },
  { name: 'Blog', href: '/blog' },
];

const isActive = (href: string) => {
  return Astro.url.pathname === href;
}
---

<header class="sticky top-0 w-full bg-white dark:bg-gray-800 text-gray-800 dark:text-white">
  <div class="container h-auto mx-auto py-4 flex items-center justify-between gap-4">
    <div class="text-xl font-mono font-bold">
      {'<mg/>'}
    </div>
    <nav class="ml-auto">
      <ul class="flex items-center justify-between gap-4">
        {pages.map(({name, href}) => (
          <li>
            <a
              class={clsx('link link-hover', isActive(href) && 'link-primary')}
              href={href}
            >
              {name}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    <div class="flex">
      <ThemeController/>
    </div>
  </div>
</header>