---
import { Icon } from 'astro-icon/components';
---

<label class="swap swap-rotate">
  <input type="checkbox" id="themeController" class="theme-controller"/>
  <Icon 
    name="sun"
    class="swap-off h-6 w-6 fill-current"
  />
  <Icon 
    name="moon"
    class="swap-on h-6 w-6 fill-current"
  />
</label>

<script>
  const theme = localStorage.getItem("theme");
  const themeController = document.getElementById('themeController') as HTMLInputElement;
  themeController.checked = theme === 'light';
  themeController?.addEventListener('change', (e) => {
    const target = e.target as HTMLInputElement;
    document.documentElement.dataset.theme = target.checked ? 'light' : 'dark';
    localStorage.setItem('theme', target.checked ? 'light' : 'dark');
    console.log(target.checked)
  })
</script>